@page
@model FrontEnd.Pages.AdministrationModel
@{
}
<style>
    html {
        width: 100%;
        height: 100%;
        display: block;
        position: relative;
    }

        html::after {
            content: "";
            background: url("https://static.www.calottery.com/-/media/Project/calottery/PWS/Hero/PowerBall---Landing-Page-Banner-Mobile-768x819_R1.jpg?mw=992&sc=1&rev=e7fc8b27551740f69944d346ed16e12c&hash=98FFF89383AE0582267EA1D351B10D7E");
            background-repeat: no-repeat;
            background-size: cover;
            opacity: 0.5;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: absolute;
            z-index: -1;
        }
    @@import url('https://fonts.googleapis.com/css?family=Inconsolata|Lato:300,400,700');

    html, body, h1, h2, h3, h4, h5, h6, p, li, ol, ul, pre {
        margin: 0;
        padding: 0;
    }

    html, body {
        min-height: 100%;
    }

    code {
        background: #fff1;
        font-family: 'Inconsolata', monospace;
        padding: .2em .4em;
    }




    #footer {
        background-color: #246c;
        background-image: linear-gradient(to bottom, transparent, #0009);
        border-top: 1px solid #fff3;
        box-shadow: inset 0 1px 0 #fff3, 0 0 32px #000;
        overflow: hidden;
        padding: 8px;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 9001;
    }

        #footer a {
            color: #85c6f6;
            padding: 1em 0;
            text-decoration: none;
        }

        #footer ul {
            display: flex;
            list-style: none;
            justify-content: center;
            font-size: 2em;
            font-weight: 300;
        }

            #footer ul li {
                padding: 0 .5em;
            }

    /* Appearance */
    .links {
        background-color: black;
        background-image: linear-gradient(to bottom, #0003, transparent);
        border-bottom: 1px solid #0003;
        box-shadow: 0 0 32px #0003;
        font-size: 2em;
        font-weight: 300;
    }

        .links > a {
            color: #9ab;
            padding: .75em;
            text-align: center;
            text-decoration: none;
            transition: all .5s;
        }

            .links > a:hover {
                background: #ffffff06;
                color: #adf;
            }

        .links > .line {
            background: #68a;
            height: 1px;
            pointer-events: none;
        }

    /* The Magic */
    #header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }

    .links {
        display: grid;
        grid-template-columns: repeat(var(--items), 1fr);
        position: relative;
    }

        .links > .line {
            opacity: 0;
            transition: all .5s;
            position: absolute;
            bottom: 0;
            left: var(--left, calc(100% / var(--items) * (var(--index) - 1)));
            width: var(--width, calc(100% / var(--items)));
            --index: 0;
        }

        .links > a:hover ~ .line {
            opacity: 1;
        }

        .links > a:nth-of-type(1):hover ~ .line {
            --index: 1;
        }

        .links > a:nth-of-type(2):hover ~ .line {
            --index: 2;
        }

        .links > a:nth-of-type(3):hover ~ .line {
            --index: 3;
        }

        .links > a:nth-of-type(4):hover ~ .line {
            --index: 4;
        }

        .links > a:nth-of-type(5):hover ~ .line {
            --index: 5;
        }

        .links > a:nth-of-type(6):hover ~ .line {
            --index: 6;
        }

        .links > a:nth-of-type(7):hover ~ .line {
            --index: 7;
        }

        .links > a:nth-of-type(8):hover ~ .line {
            --index: 8;
        }

        .links > a:nth-of-type(9):hover ~ .line {
            --index: 9;
        }

        .links > a:nth-of-type(10):hover ~ .line {
            --index: 10;
        }

        .links > a:last-of-type:hover ~ .line {
            --index: var(--items);
        }
</style>
<html>
<body>
    <header id="header">
        <nav class="links" style="--items: 5;">
            <a href="/Index">Home</a>
            <a href="/Administration">Administration</a>
            <a href="/AboutUs">About Us</a>
            <a href="#"></a>
            <a href="#"></a>
            <span class="line"></span>
        </nav>
    </header>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <h1>Welcome to the Admin page</h1>
    <br />
    <form method="get" action="">
        Reset Lottery for next drawing
        <button class="reset" type="submit">
            Reset Lottery
        </button>
    </form>
    <form method="get" action="">
        Draw winning numbers
        <button class="drawNumbers" type="submit">
            Process Drawing
        </button>
    </form>
    <form method="get" action="">
        Results from current lottery
        <button class="lotteryResults" type="submit">
            Lottery Results
        </button>
    </form>
    <form method="get" action="">
        All lottery statistics
        <button class="allStats" type="submit">
            Historical Stats
        </button>
    </form>

</body>
</html>