@page
@model FrontEnd.Pages.CurrentResultsModel
@{
}

<table>
    @foreach (var t in Model.Results)
    {
        <tr>
            @foreach (var num in t.balls)
            {
                <td>@num</td>
            }
        </tr>
    }
</table>