@page
@model FrontEnd.Pages.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
}
<style>
    h1, h2, p, td, label {
        font-family: sans-serif;
        text-align:center;
        font-size:40px;
    }

    h1{
        padding: 10px;
        background-color: lightgoldenrodyellow;
        border-bottom:4px dashed;
    }

    form{
        text-align:center
    }
    button{
        background-color: lightgoldenrodyellow;
        font-size: 18px;
        text-align: center;
        transition:ease-in 1s;
    }
    button:hover{
        background-color: lightcoral;
    }

</style>


<h1>
    Welcome To the Powerball Lottery.
</h1>

<h2>
    Who Are you?
</h2>

<form method="post">
    <button type="submit" asp-page-handler="GoToStore">Powerball Player</button>
    <button type="submit" asp-page-handler="GoToSettings">Company Associate</button>
</form>
