@page
@model FrontEnd.Pages.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
}


<style>

    body {
        margin: 2em;
        background-color: aqua;
    }
    .playBtn {
        border-radius: 12px;
        background-color: #fff;
        border: none;
        color: #000;
        padding: 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        margin: 2px 2px;
        cursor: pointer;
        width: 150px;
        transition: 0.3s all ease
    }

        .playBtn:hover {
            background-color: red;
            color: white;
            box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
            transform: scale(1.1);
        }
</style>


<body>

    <h1>
        Welcome!
    </h1>

    <h2>
        Who Are you?
    </h2>

    <form method="post">
        <button class="playBtn" type="submit" asp-page-handler="GoToStore">Powerball Player</button>
        <button class="playBtn" type="submit" asp-page-handler="GoToSettings">Company Associate</button>
    </form>
</body>