@page
@model FrontEnd.Pages.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
}

<h1>
    This is the index page.
</h1>

<h2>
    Who Are you?
</h2>

<ul>
    <li><a asp-page="Store">Powerball Player</a></li>
    <li><a asp-page="Settings">Company Associate</a></li>
</ul>