@page
@model FrontEnd.Pages.LotteryCompanyModel
@{
}
<body>
    <div class="page">
        <h1>Lottery Company</h1>
        <ul>
            <li>
                <label>Reset The Lottery For the Next Drawing</label>
                <button>Reset Lottery</button>
            </li>
            <li>
                <label>Draw the Winning Numbers</label>
                <button>Process Drawing</button>
            </li>
            <li>
                <label>View the Overal Results from the Lottery</label>
                <button>Lottery Results</button>
            </li>
            <li>
                <label>Statistics from ALL lottery Results</label>
                <button>Historical Stats</button>
            </li>
        </ul>
        </div>
</body>

<style>
    li {
        list-style: none;
    }
    body {
        text-align: center;
        vertical-align: middle;
        margin: auto;
        padding: 5%;
        color: darkblue;
        background-image: url('https://images.pexels.com/photos/730564/pexels-photo-730564.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
    }
    .page {
        background-color: rgba(128, 128, 128,.7);
        margin:auto;
        max-width:75%;

    }
</style>