@page
@model FrontEnd.Pages.LotteryResultsModel
@{
}
<table>
    @foreach (var t in Model.results)
    {
        <tr>
            @foreach(var num in t.balls){
            <td>@num</td>}
        </tr>
    }
</table>
