@page "/PlayLottery"
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model FrontEnd.Pages.PlayLotteryModel
@{
    ViewData["Title"] = "Lottery Page";
}




<style>
    body {
        font-family: 'Montserrat', sans-serif;
        background-color: #00ccff;
        color: #fff;
        font-size: 125%;
    }

    h1 {
        text-align: center;
    }

    #name {
        width: 150px;
        display: flex;
        margin-right: 200px;
        justify-content: center;
    }

    #guess1, #guess2, #guess3, #guess4, #guess5, #guess6, #guess7 {
        width: 50px;
        margin-right: 4px;
        text-align: center;
        border-radius: 40%;
    }

    #guess7 {
        border: 3px solid red;
    }

    #container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: -20px;
    }

    #container2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    #container3 {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }


    #test1, #test2, #test3, #test4, #test5, #test6, #test7 {
        float: left;
        margin-right: 1%;
        margin-top: 10px;
        padding: 10px;
        border: 1px solid #000;
        text-decoration: none;
    }

    #test7 {
        background-color: red;
        color: #fff;
    }

    .logo {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }


    .playBtn {
        border-radius: 12px;
        background-color: #fff;
        border: none;
        color: #000;
        padding: 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        width: 150px;
    }

    .playBtn:hover {
        background-color: red;
        color: white;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }

</style>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <title>Powerball Simulator</title>
    <link rel="stylesheet" href="style.css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>

<body>


    <form asp-page="PlayLottery" asp-page-handler="GetData" method="post">


        
        <div class="logo" ><img src="http://u.cubeupload.com/Transgirlgogo/download1.jpeg" alt="powerball" width="350"></div>
        <br>
        <br>

        <div id="container2">
            <input id="guess1" type="number" min="1" max="69" name="num1">
            <input id="guess2" type="number" min="1" max="69" name="num2">
            <input id="guess3" type="number" min="1" max="69" name="num3">
            <input id="guess4" type="number" min="1" max="69" name="num4">
            <input id="guess5" type="number" min="1" max="69" name="num5">
            <input id="guess6" type="number" min="1" max="69" name="num6">
            <input id="guess7" type="number" min="1" max="26" name="powerball">



        </div>
        <br />
        <br />

        <div id="name">
            <label>Name: </label>
            <input  type="text" name="name" />
        </div>



        <br>
        <br>

        <div id="container3">
            <button class="playBtn" type="submit" >Purchase</button>
        </div>
    </form>


</body>
</html>