@page
@model FrontEnd.Pages.ResultDisplayModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using ClassLib
@{
}

<h1>Results</h1>
<p>@Model.testBool</p>

@foreach (var ticket in Model.lotteryTickets)
{
    <h1>@ticket.Player</h1>
    <p>@ticket.winAmtDollars</p>
    <p>@ticket.winLevel</p>
}