@page
@model FrontEnd.Pages.ResultsModel
@{
}
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <style>
        .vhcenter {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
    </style>

    <title>🍀 Heber's Cash Luck!</title>
</head>
<div class="vhcenter">
    <h1>@Model.Name, lets test your luck.</h1>
    <p>Here is how many ticket you have:</p>
</div>