@page
@model FrontEnd.Pages.ResultDisplayModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using ClassLib
@{
}

<h1>Results</h1>


<form method="post" asp-page-handler="ReturnToSettings">
    <button class=" btn effect01 lotteryResults" type="submit">
        Return
    </button>
</form>

@if (Model.historyBool == false)
{
    <h2>For Lottery Period starting at: @Model.LotteryPeriodTS</h2>
    @foreach (var ticket in Model.lotteryTickets)
    {
        <h3>@ticket.Player</h3>
        <p>@ticket.winAmtDollars</p>
        <p>@ticket.winLevel</p>
    }
}
else
{
    <h1>Historical Stats not implemented</h1>
}



