@page
@model FrontEnd.Pages.SettingsModel
@{
}

<body>
    <h1>
        Run and view stats on the Lottery.
    </h1>
    <form method="post">
        <label>Reset Lottery for the Next Drawing</label>
        <button>Reset The Lottery</button>
        <label>Draw the Winning Numbers for this Lottery Period</label>
        <button>Process Drawing</button>
        <label>Overal Results from this Lottery Period</label>
        <button>Lottery Results</button>
        <label>Statistics from <b><i>All</i></b> lottery history</label>
        <button>Historical Stats</button>
    </form>
</body>
