@page
@model FrontEnd.Pages.SettingsModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using ClassLib
@{
}

<html>
<head>
    <link rel="stylesheet" href="~/settings.css" type="text/css" />
</head>
<body class="content">
    <header>
        <h1>Welcome<br /> to the<br /> Admin page</h1>
    </header>
    <br />
    <form method="post">
        <h2>Reset Lottery for next drawing</h2> <br />
        <button class="btn effect01 reset" asp-page-handler="ResetLottery">
            Reset Lottery
        </button>

        <br />

        <h2>Draw winning numbers</h2> <br />
        <button class="btn effect01 drawNumbers" asp-page-handler="DrawWinningTickets">
            Process Drawing
        </button>

        <br />

        <h2>Results from current lottery</h2> <br />
        <button class=" btn effect01 lotteryResults" asp-page="./LotteryResults">
            Lottery Results
        </button>

        <br />

        <h2>All lottery statistics</h2> <br />
        <button class="btn effect01 allStats" asp-page="./LotteryHistoricalStats">
            Historical Stats
        </button>
    </form>


   
</body>
</html>