@page
@model FrontEnd.Pages.SettingsModel
@{
}

<html>
<body>
    <h1>Welcome to the Admin page</h1>
    <br />
    <form method="get" action="">
        Reset Lottery for next drawing
        <button class="reset" type="submit">
            Reset Lottery
        </button>
    </form>
    <form method="get" action="">
        Draw winning numbers
        <button class="drawNumbers" type="submit">
            Process Drawing
        </button>
    </form>
    <form method="get" action="">
        Results from current lottery
        <button class="lotteryResults" type="submit">
            Lottery Results
        </button>
    </form>
    <form method="get" action="">
        All lottery statistics
        <button class="allStats" type="submit">
            Historical Stats
        </button>
    </form>

</body>
</html>