table {
    border-style: none;
    text-align: center;
    margin: auto;
}

.welcome{
    padding:1%;
    width:auto;
}

header {
    text-align: center;
    margin:auto;
    min-width:45%;
    width: 50%;
}

h1 {
    color: midnightblue;
    font-size: 3em;
    text-align: center;
    background:orange;
    width:100%;
    padding:1%;
    
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

body {
    padding: 2em;
    margin: 4em;
    background-color: white;
    background: url(https://image.freepik.com/free-vector/lottery-background-with-place-text_1420-241.jpg) no-repeat center center fixed;
    background-size: cover;
}

h1, h2, p, td, label {
    font-family: sans-serif;
}

button {
    margin: .5em;
    background-color: red;
    border-style: solid;
    border-radius: 5px;
    border-color: black;
    color: white;
    padding: 10px 15px;
    text-align: center;
    font-size: 16px;
}

    button:hover {
        background-color: black;
        color: white;
    }

input[type=number] {
    padding: 10px;
    border-radius: 50%;
    border-color: black;
    text-align: center;
    height: 50px;
    width: 50px;
    box-shadow: inset -6.25px -6.25px 10px rgba(0,0,0,.25);
}


#powerball {
    background-color: red;
}

td{
    text-align:center;
}
.ball {
    margin: .25em;
    text-align: center;
    width: 50px;
    height: 50px;
    background-color: white;
    border-collapse: collapse;
    border: 1px solid black;
    border-radius: 50%;
    box-shadow: inset -6.25px -6.25px 10px rgba(0,0,0,.25);
    padding-bottom: 1em;
    padding: 1%;
}

#win {
    background-color: green;
    color: white;
}

h2 {
    font-size: 2em;
}

.background {
    background: rgb(0,0,0,.3);
    text-align: center;
}

