<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="~/Pages/Styles/MyStyle.css" />
    </head>
    <body>
        <header>
            <h2>The lottery</h2>
        </header>
        <main>
            @RenderBody()
        </main>
    </body>
</html>