<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, inital-scale=1.0"/>
    @*<link rel="stylesheet" href="~/css/navigation.css" type="text/css"/>*@
    <link rel="stylesheet" href="~/css/store.css" type="text/css" />
</head>
<body>
    <header>
        <nav>
            <a asp-page="Index">Home</a>
            <a asp-page="Store">Ticket Store</a>
            <a asp-page="Settings">Settings</a>
        </nav>
    </header>
    <main role="main">
        @RenderBody()
    </main>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>